{% extends 'home/base.html' %}

{% block content %}
<p class="welcome">Welcome to Charty Chats!</p><br>
<p class="welcome-intext">Your go-to intelligent chatbot for interactive data exploration and insights. 
    Charty Chats is designed to answer your questions from CSV files with precision and creativity. Whether you need a straightforward answer or a visually engaging chart, Charty Chats has you covered. Simply upload your CSV file, ask your question, and let Charty transform your data into meaningful responses. 
    Empower your data-driven decisions today with Charty Chats – where your queries meet clarity!
</p><br>
<p class="upload-taunt">
    Upload your file and start chatting now!
<p>
<br>
<nav class="navbar navbar-expand-lg">
    <div>
        <ul class="navbar nav">
            <li class="nav-item">
                <a class="nav-link" href="/chat">Chat Now!</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}